@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    position: relative;
    overflow: auto;
    background-image: url('images/green.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin-top: 20px;
    color: #ff69b4;
    padding: 10px;
}

p1 {
    background-image: 
      linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;  
    animation: move 35s linear infinite;
  }
  
  @keyframes move {
      to {
          background-position: 4500vh;
      }
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #b0e0e6;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #ffb6c1;
    border-radius: 10px;
}

.description {
    padding: 50px;
    color: #000;
    font-size: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    color: #000;
    position: relative;
    overflow: auto;
    background-image: url('images/green.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin-top: 20px;
    color: #ff69b4; /* Soft pink header */
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #b0e0e6;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #ffb6c1;
    border-radius: 10px;
}

.description {
    padding: 50px;
    color: #000;
    font-size: 18px;